.suggestions-container {
  /* background-color: rgba(139, 141, 241, 0.616); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cards{
  display: flex;
}
