.suggestions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5vw;
  padding-bottom: 5vw;
  background-color: rgba(78, 192, 204, 0.557);

}
.cards a {
  display: flex;
  flex-wrap: wrap;
  /* padding: 5%; */
  text-decoration: none;
}
h1#suggestion-heading {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
  font-size: 38px;
  text-decoration: none;
  width: 100%;
  background-color: rgba(78, 192, 204, 0.557);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 12px;
  padding: 0px;
}
