#splash-header{
  background:
    url(../../../assets/PigOutBanner.jpeg) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-transform:uppercase;
  font-size: 25px;
  font-weight: bold;
  height: 80vh;
  width: 100%;
  text-shadow: 2px 2px var(--main-shadow-grey);
  position: relative;
  padding: 3% 0 3% 0;
  box-shadow: 0 5px var(--main-shadow-grey);
}

#splash-header #overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-transform:uppercase;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px var(--main-shadow-grey);
  background: rgba(0, 0, 0, 0.562);
  padding: 3% 0 3% 0;
}
