.main-logo a {
  text-decoration: none;
  font-size: larger;
}
div.main-logo {
  height: 45%;
  display: flex;
  justify-content: center;
  padding: 0 10%;
}
img#main-logo {
  width: 100%;
  height: 30vh;
  padding: 0;
  margin: 0;
}
