.no-auth-profile-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-translucent-grey);
  height: 80vh;
}
.no-auth-profile-main-container img {
  zoom: 0.4;
}
.no-auth-prompt {
  display: flex;
  justify-content: space-around;
  width: 30vw;
  font-size: 2rem;

  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}
.profile-main-container {
  display: flex;
  width: 100%;
  height: 85vh;
  background-color: white;
  justify-content: space-between;
  overflow: hidden;
}

.profile-left-side-bar {
  display: flex;
  flex-direction: column;
  background-color: rgba(146, 201, 226, 0.757);

  width: 20%;
  max-height: 85vh;

  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  border-top: none;
  border-left: none;
}

.profile-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(146, 201, 226, 0.557);
}

.profile-main-content .content-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.profile-main-content h1 {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}
.profile-right-side-bar {
  display: flex;
  flex-direction: column;
  background-color: rgba(146, 201, 226, 0.757);
  width: 20%;
  height: 100%;
}

.left-side-bar-btn {
  width: 65%;
  height: 8%;
  background-color: rgba(223, 219, 219, 0.433);
}
