.profile-main-container {
  display: flex;
  width: 100%;
  height:85vh;
  background-color: white;
  justify-content: space-between;
}

.profile-left-side-bar{
  display: flex;
  flex-direction: column;
  background-color: rgba(146,201,226, 0.757);


  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  border-top: none;
  border-left: none;
}

.profile-main-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-color: rgba(146,201,226, 0.557);
}

.profile-right-side-bar{
  display: flex;
  flex-direction: column;
  background-color: rgba(146,201,226, 0.757);
  width: 20%;
  height: 100%;
}

.left-side-bar-btn{
  width: 65%;
  height: 8%;
  background-color: rgba(223, 219, 219, 0.433);

}
