.profile-main-container {
  display: flex;
  width: 100%;
  background-color: red;
  justify-content: space-between;

}

.profile-left-side-bar{
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  width: 20%;
  height: 100vh;

}

.profile-main-content {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  width: 50%;
  height: 100vh;

}

.profile-right-side-bar{
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  width: 20%;
  height: 100vh;

}
