.suggestions-cards:hover {
  box-shadow: -4px -4px var(--main-shadow-grey);
  /* box-shadow: 4px 4px rgb(255,128,239,.5); */
}

.suggestions-cards a {
  color: black;
}
.suggestions-cards > h3 {
  margin: 0 5px;
}
.suggestions-cards-top {
  font-size: medium;
}

.card-content {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  max-height: 80%;
  width: 100%;
}

.card-content img {
  display: flex;
  margin: 1rem;
  width: 10vw;
  height: 10vw;
  border-radius: .5rem;
}

.card-content-info {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-size: 0.8em;
  padding: 0 3%;
  margin: 0;
}

.suggestions-cards {
  /* box-sizing: border-box; */
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  width: 26vw;
  height: 15vw;
  border-radius: 0.5rem;
  box-shadow: 4px 4px var(--main-shadow-grey);
  /* box-shadow: -4px -4px rgb(255,128,239,.5); */
  margin-top: 5vw;
  padding: 3%;
}

.card-content-info-div {
  display: flex;
}
.card-content-info-div.location {
  display: block;
}
