.suggestions-cards {
  color:black;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  border: 1px solid black;
  margin: 40px;
}
