.suggestions-cards {
  color:black;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  width: 20vw;
  height: 20vw;
  border-radius: .3rem;
  box-shadow: 4px 4px var(--main-shadow-grey);
  margin: 40px;
  /* padding: 15px; */
}

.suggestions-cards > a {
  color: black;
  text-decoration: none;
}
.suggestions-cards > h3 {
  margin: 0 5px;
}
.suggestions-cards > img {
  display:flex;
  align-self: flex-start;
  margin: 2rem;
  width: 5vw;
  height: 5vw;
  border-radius: 25%;
}
