.big-city-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.city-div > a{
  display: inline-flex;
  margin: 30px;
  color:green;
  /* justify-content: space-around; */
}
