.big-city-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  /* padding: 10px; */
}
.city-div {
  max-width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px 10px;
}
.city-div > h3 {
  display: inline-flex;
  font-size: 1.7rem;
  margin: 20px 50px;
  color: whitesmoke;
  cursor: pointer;
  flex-wrap: nowrap;
  transition: all .3s ease-in-out;
}
.city-div > h3:hover {
  text-decoration: underline #ff80ef;
  font-size: 1.9rem;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .city-div > h3 {
    margin: 20px 20px;

  }

}

/* ----------- Retina Screens ----------- */
@media screen and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .city-div > h3 {
    margin: 20px 20px;

  }
}
/* ----------- Non-Retina Screens ----------- */
@media screen and (orientation: portrait) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .city-div > h3 {
    font-size: 2rem;
    margin: 0px 5%;
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (orientation: portrait) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .city-div > h3 {
    font-size: 2rem;
    margin: 0px 5%;
  }
}
