.review-image-header {
  height: 100px;
  padding: 3% 8%;
  border-radius: 0.3rem 0.3rem 0 0;
  position: relative;
  box-shadow: 0 5px var(--main-shadow-grey);
}
.top-message {
  color: white;
  text-shadow: -2px 0 var(--main-shadow-grey), 0 2px var(--main-shadow-grey),
    2px 0 var(--main-shadow-grey), 0 -2px var(--main-shadow-grey);
  /* font-size: 2rem; */
  letter-spacing: 1.5px;
}
.review-image-header > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  padding: 3% 8%;
}
.review-image-header h1 {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 45px;
  margin: 10px;
}
.review-image-header h2 {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 24px;
  margin: 10px;
  text-decoration: none;
}
.rating-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

.rating-buttons button {
  background: url(../../../assets/star.svg) center/ 30% no-repeat;
  margin: 0 2%;
  width: 50%;
  color: var(--main-shadow-grey);
  transition: all 0.8s ease-in-out;
}

.rating-buttons button.selected {
  background: url(../../../assets/favicon.png) center/ 50% no-repeat;
  color: white;
  transform: rotate(360deg);
}

button:hover {
  background-color: var(--main-translucent-grey);
  border: 2px solid var(--main-shadow-grey);
  color: white;
}
.review-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  height: min-content;
}

.review-form {
  font-size: large;
  border-radius: 0.3rem;
  padding: 5%;
  width: 90%;
}
.review-form textarea {
  border-radius: 0.3rem;
  width: 95%;
  height: 100%;
  font-size: 28px;
  padding: 3% 2%;
}
.answer-div {
  width: 100%;
}

.selected {
  color: white;
}

.selected:not(button) {
  border: none;
  background-color: transparent;
}
.review-main {
  background-color: transparent;
}
form {
  background-color: none;
}

#review-comp-main {
  padding: 8%;
  height: 80%;
}

div.user-review-comp-main p {
  transform: scale(1.2);
  font-size: medium;
  margin: 0 40px;
}

.review-edit-btn {
  height: 40px;
  width: 120px;
}
