.review-image-header{
  height: 100px;
  padding: 3% 8%;
  border-radius: .3rem .3rem 0 0;
  position: relative;
  box-shadow: 0 5px var(--main-shadow-grey);

}
.top-message {
  color: white;
  text-shadow: -2px 0 var(--main-shadow-grey), 0 2px var(--main-shadow-grey), 2px 0 var(--main-shadow-grey), 0 -2px var(--main-shadow-grey);
  /* font-size: 2rem; */
  letter-spacing: 1.5px;
}
.review-image-header > .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: block;
  background: rgba(0, 0, 0, .3);
  padding: 3% 8%;
}
.review-image-header  h1{
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 45px;
  margin: 10px;

}
.review-image-header  h2{
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 24px;
  margin: 10px;
  text-decoration: none;

}
.rating-buttons {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 width: 100%
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}
.rating-buttons button {
  margin: 0 2%;
  width: 50%;
  color: var(--main-shadow-grey)
}
button:hover {
  background-color: var(--main-translucent-grey);
  border: 2px solid var(--main-shadow-grey);
  color: white;
}
.review-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.review-form {
  /* background: url('../../../assets/PigOutBanner.jpeg') center; */
  /* background-color: rgba(76, 126, 218, 0.138); */
  /* color: rgb(0, 0, 0); */
  font-size: large;
  /* background-color: var(--main-shadow-grey); */
  /* text-shadow: -.5px 0 var(--main-shadow-grey), 0 .5px var(--main-shadow-grey), .5px 0 var(--main-shadow-grey), 0 -.5px var(--main-shadow-grey); */
  /* text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black; */
  border-radius: .3rem;
  padding: 5%;

}
.review-form textarea {
  border-radius: .3rem;
  width:100%;
  height: 100%;
}
.answer-div {
  width:100%
}

.selected {
  color: white;
}

.selected:not(button) {
border: none;
background-color: transparent;
}
.review-main {
  background-color: transparent;
}
form {
  background-color: none;
}
