.splash-header{
  background:
    url(../../../assets/PigOutBanner.jpeg) no-repeat center/120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-transform:uppercase;
  font-size: 25px;
  font-weight: bold;
  height: 600px;
  text-shadow: 2px 2px black;
}
