.splash-header{
  background:
    url(../../../assets/PigOutBanner.jpeg) no-repeat center/120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform:uppercase;
  font-size: large;
  font-weight: bold;
  height: 600px;
}
