/* TODO Add site wide styles */
:root{
  --main-translucent-grey: rgb(61,225,237,.4);
  --main-shadow-grey: rgb(76,126,218, .6);
}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;

}
#root{
  color: black;
  font-family: 'Amaranth', sans-serif;
  background-color: var(--main-translucent-grey);

}
