/* TODO Add site wide styles */
:root{
  --main-translucent-grey: rgba(54, 199, 209, 0.515);
  --main-shadow-grey: rgba(76, 126, 218, 0.438);
}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;

}
#root{
  color: black;
  font-family: 'Amaranth', sans-serif;
  background-color: rgba(76, 126, 218, 0.138);


}
