.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white var(--main-translucent-grey);
  border-radius: 0.3rem;
  width: 90%;
  height: 10%;
  box-shadow: 2px 2px rgba(255, 255, 255, 0.3),
    -2px -2px rgba(255, 255, 255, 0.3), 2px -2px rgba(255, 255, 255, 0.3),
    -2px 2px rgba(255, 255, 255, 0.3);
  padding: 0 3%;
  margin: 20px;
}

.search-bar > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120%;
  padding: 5px;
}

.search-bar input {
  width: 100%;
  height: 15px;
  margin: 0 3%;
  border-radius: 0.3rem;
  border: 1px solid var(--main-translucent-grey);
  font-size: larger;
  padding: 10px;
}
.search-bar label {
  margin: 0 2%;
  width: 15%;
}

.fas {
  font-size: large;
  cursor: pointer;
}

.search-bar button,
.location-button {
  margin: 15px;
  height: 40px;
  cursor: pointer;
}


/* ----------- Non-Retina Screens ----------- */
@media screen and (orientation: portrait) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .search-bar {
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
  .search-bar > div {
    width: 100%;

    overflow: hidden;
  }

}

/* ----------- Retina Screens ----------- */
@media screen and (orientation: portrait) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .search-bar {
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
  .search-bar > div {
    width: 100%;

    overflow: hidden;
  }

}
