.search-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:var( --main-translucent-grey);
  border-radius: .3rem;
  width: 90%;
  height: 8%;
  box-shadow: 2px 2px var(--main-shadow-grey);

}

.search-bar > div{
  display: flex;
  justify-content: space-around;
  width: 120%;
}

.search-bar input {
  width: 80%;
  margin: 0 5%;
  border-radius: .3rem;
  border: 1px solid var( --main-translucent-grey);
}
.search-bar label {
  margin: 0 5%;
}

.fas {
  font-size: large;
}
