.splash-user-nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:var( --main-translucent-grey);
  border-radius: .3rem;
  width: 70%;
  height: 8%;
}
.splash-user-nav-bar a{
  text-decoration: none;
  color: white;
}
