.business-image-header {
  height: 350px;
  padding: 3% 8%;
  border-radius: 0.3rem 0.3rem 0 0;
  position: relative;
}
.business-image-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  padding: 3% 8%;
}
.business-image-header h1 {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 86px;
  margin: 0;
}

.business-content-info {
  display: flex;
  flex-direction: row;
  padding: 0 8%;
}
.business-info-div {
  padding-bottom: 3%;
  border: 10px solid white;
  border-right: 5px solid white;
  margin-left: 8%;
  margin: 0;
  width: 50%;
  font-size: 1.2em;
}
.business-buttons {
  display: flex;
}
#right-bar {
  width: 50%;
}
.business-review-div {
  padding-bottom: 3%;
  border: 10px solid white;
  border-left: 5px solid white;
  margin: 0;
  width: 100%;
  /* height: 20vh; */
}
.map-div {
  /* padding:8% 8%;
  margin:0% 8%;
  height: 100%; */
  width: 100%;
}
#business-map {
  width: 100%;
}
.business-info-div > h2 {
  padding: 1% 8%;
  background-color: rgba(223, 219, 219, 0.433);
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
  font-size: xx-large;
}
.business-info-div p,
.business-rating p {
  padding: 0 8%;
  font-size: larger;
}
.business-info-div h3 em,
.business-rating h3 em {
  font-size: larger;
  padding: 0 3% 0 8%;
  color: whitesmoke;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}
.business-rating {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  padding: 0 7%;
  margin: 0 8;
}

.yelp-link {
  display: flex;
  padding: 0 8%;
}
.yelp-link > a > h3 {
  margin: 0 8px;
}
em {
  text-decoration: underline;
}

#review-biz-btn {
  width: fit-content;
  margin: 0.5% 8%;
  background-color: rgba(223, 219, 219, 0.433);

  border: 1px solid var(--main-translucent-grey);
  font-family: "Amaranth", sans-serif;
  letter-spacing: 0.1rem;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}
#review-biz-btn a {
  text-decoration: none;

  font-family: "Amaranth", sans-serif;
  letter-spacing: 0.1rem;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}

.business-main {
  background-color: var(--main-translucent-grey);
}

.daily-hours-div {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  padding: 0;
  margin: 3% 8%;
}
.daily-hours-div p,
.daily-hours-div h4 {
  margin: 2%;
  width: 80%;
  font-size: 1.5em;
}
.daily-hours-div h4 {
  background-color: rgba(223, 219, 219, 0.433);
  font-family: "Amaranth", sans-serif;
  font-size: 1.7em;
  letter-spacing: 0.1rem;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}

.is-open-now {
  letter-spacing: 0.1rem;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
  padding: 0 8%;
}

.review-div {
  display: flex;
  background-color: rgba(223, 219, 219, 0.433);
  margin: 8% 8%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.review-div h4 {
  padding: 0 8%;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}
.review-div-rating {
  display: flex;
  font-size: medium;
  justify-content: space-between;
  border-bottom: 5px solid white;
  width: 100%;
}

.review-div-rating div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3%;
}

.review-div-text {
  display: flex;
  font-size: large;
  width: 100%;
  align-items: center;
}

.review-div-text p{
  width: 100%;
  padding: 0;
  margin: 0;
}

.user-review-div-text {
  display: flex;
  font-size: large;
  align-items: center;
  width: 100%;
}

.user-review-div-text p{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.review-star {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}

img.yelp-review-logo {
  height: 20px;
}
