nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
button {
  height: 30px;
  width: 100px;
  background-color: transparent;
  margin: 0 20px;
  border: solid 2px rgba(0, 0, 0, 0.158);
  border-radius: .3rem;
}
