nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: rgba(78,192,204, 0.557);
}
/* button {
  height: 35px;
  width: 100px;

  font-family: 'Amaranth', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.01rem;
  letter-spacing: .15rem;
  text-shadow: -.8px 0 var(--main-shadow-grey), 0 .8px var(--main-shadow-grey), .8px 0 var(--main-shadow-grey), 0 -.8px var(--main-shadow-grey);


  border: solid 2px rgba(0, 0, 0, 0.158);
  border-radius: .3rem;
}
button:hover{
  box-shadow: 1px 1px var(--main-shadow-grey);
}
button a {
  color: white;


} */
#nav-left {
  display: flex;
  align-items: center;
  color: white;
  font-size: large;
  text-decoration: none;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}
#main-icon {
  height: 50px;
  width: 50px;
}
ul{
  display: flex;
  justify-content: space-around;
  padding: 0;
}
li{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 10px;
  /* width: 100%; */
}
.profile-dropdown{
  display: flex;
}

.session-links {
  margin: 0 10px;
  margin-left: 40px;
}
