nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%
}
button {
  height: 30px;
  width: 100px;
  background-color: transparent;
  margin: 0 20px;
  border: solid 2px rgba(0, 0, 0, 0.158);
  border-radius: .3rem;
}
li{
  list-style: none;
  display: flex;
  align-items: center;
}
.profile-dropdown{
  display: flex;
}
