nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: rgba(78,192,204, 0.557);
}

#nav-left {
  display: flex;
  align-items: center;
  color: white;
  font-size: large;
  text-decoration: none;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
}
#main-icon {
  height: 50px;
  width: 50px;
}
ul{
  display: flex;
  justify-content: space-around;
  padding: 0;
}
li{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 10px;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.405);
  width: max-content;
  font-size: medium;
}
.profile-dropdown{
  display: flex;
}

.session-links {
  margin: 0 10px;
  margin-left: 40px;
}
